body {
    background-image: linear-gradient(to right, rgba(20, 20, 160, 0), rgba(20, 20, 160, 1));
}

/* Whole Navigation Bar*/
.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5a5a5a;
}

/* Home and Preferences*/
.navbtn, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    background-color: #4e4e4e;
    border: none;
}

/* Home when hovered*/
.navbtn:hover {
    background-color: #787878;
}

/* Dropdown Container */
.dropdown {
    display: inline-block;
}

/* Profile, Theme */
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Hide, Show Mechanics*/
.dropdown:hover .dropdown-content {
    display: block;
    width: inherit;
}

/* Change color on hover */
.dropdown:hover .dropbtn, .dropdownbtn:hover {
    background-color: #787878;
}

/* Drop Down Button: Profile, Theme*/
.dropdownbtn {
    width: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
}