/*Style to make Hamburger Menu*/
.fa {
    display:inline-block;
    /*font:normal normal normal 14px/1 FontAwesome; Probably creates problem with displays*/
    font-style: normal;
    font-size: 4vh;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.fa-bars:before{
    content:"≡";
}
/*End Style Hamburger Menu*/

/*PC rules*/
@media screen and (min-aspect-ratio: 3/2) {
    body {
        background: #AAA;
        font-size: 2vh;
    }
    .mobilenav {
        display: none;
    }
    #nav {
        /*Creates a full width Nav Bar, TODO: See minimum viewport width needed*/
        width: 100%;
        /*Sets height of the Nav bar to 10% of the viewport*/
        height: 10vh;
        /*Gives the Nav Bar a background Color*/
        background: #808080;
        /*Sets a distance between Navigation panel and the main panel*/
        margin-bottom: 5vh;
    }
    
    #nav > *, #nav > .dropdown > #prefbtn {
        /*Align Navigation Items in one line. Rule partially overwritten by next one*/
        display: inline-block;
        /*Every Items inherits the height of the navbar*/
        height: inherit;
        /*Paint's every item*/
        background: #606060;
        /*Due to readability changes font color to white*/
        color: white;
        /*Removes Border*/
        border: none;
    }
    
    #prefbtn {
        width: 100%;
        padding: 0px 30px;
    }

    #homebtn {
        padding: 0px 30px;
    }
    
    #nav .dropdown {
        /*Moves the whole dropdown Section to the right side*/
        float: right;
        /*Makes items appear directly below this*/
        position: relative;
    }
    
    .dropdown:hover > .dropdown-content {
        /*Adds hover mechanics*/
        display: block;
    }
    
    .dropdown-content {
        /*Dropdown Content hidden by default*/
        display: none;
        /*Sets absolute position > Dropdown Button would move otherwise*/
        position: absolute;
    }
    
    .dropdown-content > * {
        width: 100%;
        /*Displays Boxes as blocks*/
        display: block;
        /*Paint's every item*/
        background: #606060;
        /*Due to readability changes font color to white*/
        color: white;
        /*Removes Border*/
        border: none;
        /*Increases click area*/
        padding: 10px 6px;
        /*Moves items to the right container edge*/
        float: right;
        /*Decrease Shape*/
        margin-left: -21px;
    }

    .main * {
        font-size: 3vh;
        margin: 10px;
    }

    .main .header {
        font-size: 5vh;
        margin-bottom: 2vh;
    }

    .main .future {
        background: #333;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 0px 10px;
        height: 50vh;
        overflow-y: auto;
        line-height: 4vh;
    }

    .main > .chatform {
        width: 100%;
        height: 7vh;
        overflow: hidden;
    }

    .main > .chatform > .chat_input {
        background: grey;
        color: white;
        border: none;
        border-radius: 5px 0px 0px 5px;
        margin: 0px 0px 0px -1px;
        padding: 0px 0px 0px 0.5vw;
        width: 85vw;
        height: inherit;
        overflow-x: hidden;
    }

    .main > .chatform > .sendbtn {
        background: #707070;
        color: white;
        border: none;
        border-radius: 0px 5px 5px 0px;
        height: inherit;
        width: 7vw;
        margin: 0vw 0vw 0vw -1.5vw;
        padding: 0vw 0.5vw 0vw 0vw;
        text-align: center;
    }

    .main > .chatform > .sendbtn:hover {
        background: #606060;
    }

    .main > #profileform {
        width: 40vw;
    }

    .main > #profileform > .forminput {
        padding: 5px 10px;
        display: block;
        background: #808080;
        color: white;
        border: none;
        border-radius: 10px;
        width: inherit;
    }

    .main > #profileform > .profilecfm {
        padding: 10px;
        display: block;
        background: #707070;
        color: white;
        border: none;
        border-radius: 20px;
    }

    .main > #profileform > .profilecfm:hover {
        background: #606060;
    }

    .main > #themeform {
        width: 40vw;
    }

    .main > #themeform > .forminput {
        padding: 5px 10px;
        display: block;
        background: #808080;
        color: white;
        border: none;
        border-radius: 10px;
        width: inherit;
    }

    .main > #themeform > .themecfm {
        padding: 10px;
        display: block;
        background: #707070;
        color: white;
        border: none;
        border-radius: 20px;
    }

    .main > #themeform > .themecfm:hover {
        background: #606060;
    }
}

/*410h*/

/*Phone rules*/
@media screen and (max-aspect-ratio: 3/2) {
    body {
        background: lightslategrey;
    }

    /*Mobile Navigation Start*/
    #nav {
        display: none;
    }

    .mobilenav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .mobilenav #myLinks {
        display: none;
    }

    .mobilenav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
    }

    .mobilenav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .mobilenav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: #4CAF50;
        color: white;
        font-size: 4vh;
    }

    .mobilenav .dropdownlist:hover #myLinks {
        display: block;
    }

    div#myLinks > a {
        font-size: 2vh;
    }

    /*Mobile Navigation End*/

    .main * {
        font-size: 1.5vh;
        margin: 10px;
    }

    .main .header {
        font-size: 5vh;
        margin-bottom: 2vh;
    }

    .main .future {
        background: #333;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 0px 10px;
        height: 60vh;
        overflow-y: auto;
        line-height: 2vh;
    }

    .main>.chatform {
        width: calc(100vw - 20px);
        /*Figure this out*/
        height: 4vh;
    }

    .main>.chatform>.chat_input {
        background: grey;
        color: white;
        border: none;
        border-radius: 5px 0px 0px 5px;
        margin: 0px 0px 0px -1px;
        padding: 0px 0px 0px 0.5vw;
        width: 80vw;
        height: inherit;
        overflow-x: hidden;
    }

    .main>.chatform>.sendbtn {
        background: #707070;
        color: white;
        border: none;
        border-radius: 0px 5px 5px 0px;
        height: inherit;
        width: 9vw;
        margin: 0vw 0vw 0vw -1.5vw;
        padding: 0vw 4vw 0vw 0vw;
        text-align: center;
    }

    .main>.chatform>.sendbtn:hover {
        background: #606060;
    }

    .main>#profileform {
        width: 60vw;
        font-size: 3vh;
    }

    .main > #profileform > .forminput {
        font-size: inherit;
        padding: 5px 10px;
        display: block;
        background: #808080;
        color: white;
        border: none;
        border-radius: 10px;
        width: inherit;
    }

    .main>#profileform>.profilecfm {
        font-size: inherit;
        padding: 10px;
        display: block;
        background: #707070;
        color: white;
        border: none;
        border-radius: 20px;
    }

    .main>#profileform>.profilecfm:hover {
        background: #606060;
    }

    .main>#themeform {
        width: 60vw;
        font-size: 3vh;
        ;
    }

    .main > #themeform > .forminput {
        padding: 5px 10px;
        display: block;
        background: #808080;
        color: white;
        border: none;
        border-radius: 10px;
        width: inherit;
        font-size: inherit;
    }

    .main>#themeform>.themecfm {
        padding: 10px;
        display: block;
        background: #707070;
        color: white;
        border: none;
        border-radius: 20px;
        font-size: inherit;
    }

    .main>#themeform>.themecfm:hover {
        background: #606060;
    }
}

.footer {
    margin-left: -8px;
    position: fixed;
    bottom: 0;
    background: #333;
    color: white;
    font-size: 1.5vh;
    padding: 10px;
    width: 100%;
}